<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Product License Portal | Delete Client</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link th:replace="~{fragments/dependencies.html}" />
    </head>
    <body>
        <div th:replace="~{fragments/navigation.html}"></div>
        <h2>Delete Client</h2>
        <p th:text="'Are you sure that you want want to delete the following client: ' + ${client.firstName} + ',' +  ${client.lastName} +  ' (' + ${client.email} + '). This action can not be un-done.'"></p>
        <form action="#" th:action="@{'/clients/delete?id=' + ${client.id}}" method="post">
            <div class="form-group">
                <button type="submit" class="btn btn-danger">Delete Client</button>
                <a th:href="@{/clients/view}"><button type="button" class="btn btn-secondary">Cancel</button></a>
            </div>
        </form>
    </body>
</html>